body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

header {
    background-color: #2D3E50;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.chat-area {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

#chat-history {
    height: 200px;
    overflow-y: scroll;
}

#user-message {
    width: 98%;
    padding: 10px;
    border: 1px solid #305BCE;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#send-button {
    background-color: #305BCE;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
